{% extends "layout.html" %}
{% block content %}
    <h2>reviews</h2>
    <form action="{{ url_for('add_review') }}" method="POST">
    <p class="heading">title: <input type=text name='title'>
    <p class="heading">year_released:<input type=text name='year_released'>
    <p class="heading">genre: <input type=text name='genre'>
    <p class="heading">rating: <input type=text name='rating'>
    <p class="heading">reviewer: <input type=text name='reviewer'>
    <p class="heading">comments: <input type=text name='comments'>
    <p><input type=submit value=Sign></p>
    </form>

{% endblock %}
